# Python
__pycache__/
*.py[cod]
.venv/
.env

# C/C++
build/
*.o
*.a
*.exe

# MATLAB/Simulink
slprj/
*.asv
*.mdl.r20*
*.slxc
*.mex*
*.autosave

# Misc
.DS_Store
.idea/
.vscode/
copilot-instructions.md

I:/Lavoro/CNR/CNR_Infomobility/Progetto_StoCAV/.idea

I:/Lavoro/CNR/CNR_Infomobility/Progetto_StoCAV/StoCAV/Output

D:/Lavoro/CNR/CNR_Infomobility/Progetto_StoCAV/StoCAV/Output

D:/Lavoro/CNR/CNR_Infomobility/Progetto_StoCAV/StoCAV/Configuratioin
